.twr-button {
  @apply twr-relative
  twr-flex
  /* twr-py-4
  twr-px-8 */
  twr-rounded-lg
  twr-transition
  twr-outline-none
  twr-text-center
  twr-text-black;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  padding: calc(1rem - 2px) calc(2rem - 2px) calc(1rem - 2px) calc(2rem - 2px);

  &__secondary {
    @apply twr-bg-black twr-text-white twr-outline-none twr-border-2 twr-border-black;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);

    &:hover:enabled {
      @apply twr-outline-none;
      background: #2F2F2F;
      border-color: #2F2F2F;
    }

    &:focus:enabled {
      @apply twr-outline-none;
    }

    &:not(:active):not(&--no-focus):focus:enabled {
      @apply twr-outline-none;
      /* offset 2px sides from increasing border-width of 0px to 2px */
      background: #505050;
      border-color: rgb(255 255 255 / 63%);
      box-shadow: 0px 0px 9px rgb(255 255 255 / 10%);
    }

    &:active:enabled {
      background: #494949;
      border-color: rgba(116, 116, 116, 0.69);
      box-shadow: none;
    }

    &--focus {
      @apply twr-outline-none;
      background: #505050;
      border-color: rgb(255 255 255 / 63%);
      box-shadow: 0px 0px 9px rgb(255 255 255 / 10%);
    }
    &:disabled {
      box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
    }
  }

  &__primary {
    @apply twr-outline-none twr-border-2;
    background: #FFFFFF;
    border-color: #FFF;

    &:hover:enabled {
      @apply twr-outline-none;
      background: #dedede;
      border-color: transparent;
    }

    &:focus:enabled {
      @apply twr-outline-none;
    }

    &:not(:active):not(&--no-focus):focus:enabled {
      @apply twr-outline-none twr-bg-opacity-25;
      background: #BABABA;
      border-color: #a2a2a245;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    }

    &:active:enabled {
      background: #FCFCFC;
      border-color: #a2a2a245;
      box-shadow: none;
    }

    &--focus {
      @apply twr-outline-none ;
      background: #E6E6E6;
      border-color: #a2a2a245;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    }
    &:disabled {
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    }
  }
  &:disabled {
    @apply twr-cursor-not-allowed twr-opacity-50;
  }
}