.text-field {
  @apply relative;

  &__label {
    @apply 
    absolute top-0 left-0 h-full
    pointer-events-none 
    flex items-center
    leading-tight text-gray-500 
    transition-transform duration-150 
    origin-top-left;
    transform: translate(0.05rem, -0.5rem) scale(0.8, 0.8);
  }
  
  &--disabled {
    @apply opacity-10;
  }

  &__input {
    @apply pb-2 pt-6 w-full outline-none bg-transparent;
    &--has-no-placeholder {
      &:placeholder-shown {
        ~ .text-field__label {
          transform: scale(1, 1);
        }
      }
    }
  }

  &:not(.text-field--disabled) .text-field__input {
    &:focus,
    &:active {
      ~ .text-field__label {
        transform: translate(0.05rem, -0.5rem) scale(0.8, 0.8);
      }
    }
  }
}